<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="by.toggi.rxbsuir"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".RxBsuirApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:theme="@style/AppTheme.Drawer.Dark"
            android:name=".activity.ScheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/label_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ScheduleActivity"/>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aedd177c4bd42ca01848f855c0e22dc3001068cc" />
    </application>

</manifest>
