<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="by.toggi.rxbsuir"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".RxBsuirApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.Dark">

        <activity
            android:name=".activity.WeekScheduleActivity"
            android:theme="@style/AppTheme.Drawer.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/label_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.WeekScheduleActivity"/>
        </activity>

        <activity
            android:name=".activity.LessonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.WeekScheduleActivity"/>
        </activity>

        <receiver android:name=".receiver.AlarmReceiver"/>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.MyPackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.AppWidgetScheduleProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info"/>
        </receiver>

        <service android:name=".service.LessonReminderService"/>

        <service android:name=".service.ReplaceSyncIdService"/>

        <service
            android:name=".service.AppWidgetScheduleService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aedd177c4bd42ca01848f855c0e22dc3001068cc"/>
    </application>

</manifest>
